@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  background-color: #1c1c1c;
  color: white;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100vw;
  justify-content: center;
  background-image: url(./images/pattern.svg),linear-gradient(to bottom,rgba(83, 71, 71, 0.15),transparent);
  background-repeat: repeat;
  background-size: 4px 4px,100vw 400vh,100vw 400vh;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

span{
  color: #15DE8A;
}